body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  overflow: hidden;
}

header {
  height: 10%;
  display: flex;
  align-items: center;
}

main {
  height: 80%;
}

footer {
  height: 10%;
  display: flex;
  align-items: center;
}

.container {
  border: black solid 1px;
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(241, 241, 241);
}

.score-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.scores {
  background-color: rgb(255, 255, 255);
  padding: 2px 6px;
  margin: 8px;
  border: black solid 1px;
}

.btn {
  padding: 4px 12px;
  margin: 8px;
  width: 80px;
  background-color: rgb(201, 201, 201);
}

.btn:hover {
  background-color: rgb(220, 219, 219);
}

.btn:active {
  background-color: rgb(201, 201, 201);
}

.btns {
  margin-top: 20px;
}

.message-container {
  padding: 10px;
  margin: 10px;
}

.message {
  text-align: center;
  min-height: 20px;
}